.home-container {
  // border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 2; 
  height: 100vh !important;
  .item {
    flex-basis: 100%;
    text-align: center;
  }
  .mission-statement {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  // .sidebar-section {
  //   border: 3px solid red;
  // }
}